

/* body  */
body{
  height: 1200px;
  margin: 0;
  padding: 0;
}

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
}

/* NCC and IITR Logo */
.logo .logoncc {
  margin-left: 15px;
  margin-top: 6px;
  width: 50px;
}

.logo .logoiitr1{
  width: 50px;
}

/* Menu  */
.menu {
  padding-top: 10px;
}

.menu ul li {
  font-size: 20px;
  display: inline-block;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}

.menu ul li a:hover{
  color: #0d6efd;
  padding: 5px 20px;
  background-color: #CFD8DC;
  text-decoration: none;
  border-radius: 10px;
}

/* IITR Logo 2 */
.logoiitr2 {
  margin-right: 15px;
  padding-top: 7px;
}

.logoiitr2 img{
  width: 50px;
}

/* Hamburger */
.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

/* If want to change the hamburger icon to cross icon */

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}


#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3vh;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  margin-top: 15px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu__btn > span::before { 
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* Hamburger Menu Box  */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 250px;
  height: 400px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #0d6efd;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 10px;
}

.menu__item {
  display: block;
  padding: 7px 24px;
  color: white;
  font-family: 'Nimbus Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}



/* footer */
.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(190, 189, 189);
  margin-top: 87px;
}

/* Contact  */

.contact{
  margin-left: 30px;
  margin-top: 20px;
}

.contact p{
  font-weight: 600;
}

/* Social  */

#social {
  display: flex;
  height: 75px;
  padding-top: 20px;
}

a#logo1:hover>img,
a#logo2:hover>img,
a#logo3:hover>img,
a#logo4:hover>img,
a#logo5:hover>img {
  transform: scale(1.5);
}

a#logo1:hover>img {
  background: rgb(0, 89, 255);
}

a#logo2:hover>img {
  background: #bc2a8d;
}

a#logo3:hover>img {
  background: #c4302b;
}

a#logo4:hover>img {
  background: #00acee;
}

a#logo5:hover>img {
  background: #0e76a8;
}

#logo1,
#logo2,
#logo3,
#logo4,
#logo5 {
  padding: 20px;
}

a#logo1>img,
a#logo2>img,
a#logo3>img,
a#logo4>img,
a#logo5>img {
  border-radius: 50%;
  background: radial-gradient(whitesmoke, #003399);
}

/* Address  */

.address{
  margin-right: 30px;
  margin-top: 20px;
}

.address p{
  font-weight: 600;
}

/* For Mobile View  */
@media only screen and (max-width:740px) {
  .menu {
      display: none;
  }

  .hamburger-menu {
      display: block;
  }

  .logoiitr2 {
      display: none;
  }
  .footer{
    flex-direction: column;
    align-items: center;
  }
  .contact{
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
  }
  .contact h4{
    font-size: 40px;
  }
  .contact p{
    font-size: 25px;
  }
  #social {
    height: 0px;
    padding: 0px;
  }
  .address{
    margin-right: 0px;
    margin-top: 100px;
    text-align: center;
  }
  .address p{
    font-size: 30px;
  }
}

@media only screen and (min-width:740px) and (max-width:910px) {
  .logoiitr1 {
      display: none;
  }
  #social #logo1, #logo2, #logo3, #logo4, #logo5 {
    padding: 0px;
  }
  #social{
    padding: 30px 2px;
  }
  #social img{
    width: 40px;
  }
  .contact{
    margin-left: 3px;
    padding: 0px 10px;
  }
  .contact h4{
    font-size: 20px;
  }
  .contact p{
    font-size: 16px;
  }
  .address{
    margin-right: 8px;
  }
  .address p{
    font-size: 18px;
  }
}
/* For window View */
@media only screen and (min-width:740px) {
  .logoiitr1 {
      display: none;
  }
}